.game-page__content {
    display: flex;
}

.game-page__left {
    width: 70%;
}

.game-page__right {
    width: 30%;
}

.game-page__right p {
    color: whitesmoke;
}

.game-page__buy-game {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

p.secondary-text {
    color: red;
    font-weight: bold;
}

.iframe {
    border: none;
}