.game-genre {
    background-color: rgb(88, 82, 84);
    padding: 2px 5px;
    font-size: 13px;
    font-weight: bold;
    color: whitesmoke;
    border-radius: 10px;
}

.game-genre:not(:last-child) {
    margin-right: 7px;
}