.cart-item {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-item__image {
    width: 15%;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.cart-item__price {
    display: flex;
    align-items: center;
}

.cart-item__delete-icon {
    cursor: pointer;
    margin-left: 5px;
}